.footer__copyright {
  position: absolute;
  transform: translate(0, -50%);
  top: 60%;
  left: 0;
  margin: 0;
  width: 72px;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  font-weight: normal;
  color: #939EA4;
}
