@import url(./__lower-background/pricing__lower-background.css);
@import url(./__near-background/pricing__near-background.css);
@import url(./__title/pricing__title.css);
@import url(./__subtitle/pricing__subtitle.css);
@import url(./__price-sum/pricing__price-sum.css);
@import url(./__price-title/pricing__price-title.css);
@import url(./__price-subscription/pricing__price-subscription.css);
@import url(./__btn/pricing__btn.css);

.pricing {
  position: relative;
  padding-top: 200px;
  padding-bottom: 290px;
  text-align: center;
}
