.footer__btn {
  position: absolute;
  transform: translate(0, -50%);
  top: 60%;
  right: 0;
  margin: 0;
  width: 109px;
  height: 26px;
  line-height: 18px;
  font-size: 12px;
  font-weight: 500;
}
