@import url(./__content/footer__content.css);
@import url(./__top/footer__top.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__logo/footer__logo.css);
@import url(./__btn/footer__btn.css);

@import url(./__bottom/footer__bottom.css);
@import url(./__nav/footer__nav.css);
@import url(./__link/footer__link.css);
@import url(./__social/footer__social.css);

.footer {
  width: 100%;
  height: 216px;
  background-color: #E7ECFF;
}
